html, body, #root, .App {
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
    box-sizing: border-box;
}
.App {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}
.ctrl-panel {
    padding: 1em;
    margin: 0 1em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
    margin: auto;
    padding: 0 2em; 
}
.sbj-panel {
  display: flex;
}
.subjects-adder {
  display: flex;
}
.plus {
    margin: auto;
    font-size: 26px;
    padding: 0 3px;
    font-weight: 300;

    color: #fff;
}
.submit {
    font-size: 20px;
    line-height: 10px;
}
.lst {
  display: inline-block;
  vertical-align: middle;
  background-color: dimgrey;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.lst::before {
  content: "";
  display: inline-block;
  background-color: dimgrey;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: relative;
  bottom: 15px;
}
.lst::after {
  content: "";
  display: inline-block;
  background-color: dimgrey;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: relative;
  bottom: 17px;
}

.panel {
    position: absolute;
    right: 20vw;
    bottom: 20vh;
    margin: 5px;
    display: flex;
    gap: 5px;
    z-index: y;
}

.delete__pic {
  width: 100%;
  height: 100%;
}
.add_ul {
    cursor: help;
}
.tooltip {
  position: relative;
  z-index: 8;
}
.tooltip::after {
  transition: all ease-in .2s;
    content: attr(data-tooltip);
    position: absolute;
    top: 35px;
    right: 30px;
    padding: 12px;
    border-radius: 8px;
    border-top-right-radius: 0px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    opacity: 0;
    visibility: hidden;
    font-size: 20px;
}
.tooltip:hover::after {
    opacity: 1;
    visibility: visible;
}
.sheet {
    background-color: dimgray;
    opacity: 0.5;
    z-index: 5;
    top: 0;
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    z-index: 1;
}
  /* Hide default HTML checkbox */
  .cb {
    opacity: 0;
    width: 0;
    height: 0;
  }
  /* .switch:before {
    content: '\2600';
    position: absolute;
    right: 22px;
    top: 3px;
    font-size: 15px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    color: var(--text-color);
}
.switch:after {
    content: '\2605';
    position: absolute;
    left: 22px;
    top: 3px;
    font-size: 15px;
    opacity: 0;
    visibility: hidden;
    color: var(--text-color);
} */
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: var(--main-color);
    transition: .4s;
  }
  .cb:checked + .slider {
    background-color: dimgray;
  }
  .cb:focus + .slider {
    box-shadow: 0 0 1px #333;
  }
  .cb:checked + .slider:before {
    transform: translateX(26px);
    left: -4px;
  }
  /* .dark::before {
    opacity: 1;
    visibility: visible;
  } */
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
  #subject {
    padding: 0.5rem;
    margin-right: 1.5rem;
    border: 1px var(--text-color) solid;
    background-color: var(--bg-color);
    color: var(--text-color);
  }
.action_btn {
    padding: 5px;
    border: 1px var(--text-color) solid;
    border-radius: 5px;
    background-color: var(--bg-color);
    color: var(--text-color);
    cursor: pointer;
  }
  .action_btn:first-child {
    margin-right: 5px;
  }
  #welcome {
    position: absolute;
    top: 15%;
    left: 32vw;
    margin-top: 2rem;
  }
  .subject-form_hidden {
    display: none;
  }
  .notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0.9;
    transition: opacity 0.5s ease-in-out;
  }
input {
  color: var(--text-color);
}
.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  z-index: -1;
}